@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Garet;
    src: url('./Garet-Book.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-Regular.ttf');
}

body {
    font-family: Montserrat;
}